.section {
    border-radius: 8px;
    overflow: hidden;
    padding: 70px;
  }
  
  .section-header {
    background-color: #e0e0e0;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .section-content {
    padding: 10px;
    background-color: #fafafa;
  }
  
  h2 {
    margin: 0;
  }
  
  span {
    font-size: 1.5rem;
  }
  